/* Main CSS for Analytics Service Documentation */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.topbar {
  display: none !important;
}

.swagger-ui .info .title {
  font-size: 36px;
  color: #3b4151;
}
