/* Prism.js Syntax Highlighting */
code[class*="language-"],
pre[class*="language-"] {
  color: #393A34;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: .9em;
  line-height: 1.2em;
  tab-size: 4;
  hyphens: none;
}
